/*base scss file*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, sans-serif;
}
@mixin respond-to($media) {
	@if $media == bigScreen {
		@media screen and (min-width: 1300px) {@content;}
	}
	@if $media == avS {
		@media screen and (max-width: 1100px) {@content;}
	}
	@if $media == planch {
		@media screen and (max-width: 768px) {@content;}
	}
	@if $media == mobi {
		@media screen and (max-width: 321px) {@content;}
	}
}

$fr: Raleway, Arial, sans-serif;
$t4 : all ease .4s;

@import 'header';

.wrapper {
	max-width: 1040px;
	margin: 0 auto;
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	@include respond-to(bigScreen) { 
		max-width: 1240px;
	}
	@include respond-to(avS) { 
		max-width: 81.2%;
	}
	@include respond-to(planch) { 
		max-width: 90%;
	}
	@include respond-to(mobi) { 
		max-width: 94%;
	}
}
h1 {
	font-family: $fr;
	font-size: 42px;
	font-weight: bold;
	color: #fff;
	padding-top: 236px;
}
h2 {
	font-family: $fr;
	font-size: 28px;
	color: #1ab798;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	&::before {
		content: '';
		display: inline-block;
		width: 60px;
		border-top: 1px solid #babdc1;
		position: relative;
		bottom: 10px;
		margin-right: 15px;
	}
	&::after {
		content: '';
		display: inline-block;
		width: 60px;
		border-top: 1px solid #babdc1;
		position: relative;
		bottom: 10px;
		margin-left: 15px;
	}
}
.feature-section {
	padding: 120px 0 50px;
	text-align: center;
	p {
		font-size: 16px;
		width: 82%;
		margin: 60px auto;
	}
	img {
		width: 32%;
		margin: 0 auto;
	}
}
.h2_decorate {
	height: 20px;
	width: 160px;
	overflow: hidden;
	margin: 10px auto 0;
	div {
		border: 2px solid #000;
		display: inline-block;
		width: 78px;
		height: 10px;
		float: left;
		border-left: 0;
		border-top: 0;
		transform: skew(-25deg);
	}
	div:nth-child(2) {
		margin-top: 10px;
		border: 2px solid #000;
		float: none;
		border-right: 0;
		border-bottom: 0;
	}
}
.feature-section__left {
	float: left;
	width: 34%;
}
.feature-section__right {
	float: right;
	width: 34%;
}
.feature-box {
	margin: 60px auto;
	text-align: left;
	img {
		width: 36px;
		float: left;
		margin: 0 50px 55px 0;
	}
	h5 {
		font-family: $fr;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 15px;
	}
	span {
		font-size: 13px;
		line-height: 1.8;
	}
}
.video-section {
	background-color: #31d4e7;
	padding: 70px 0;
	position: relative;
	.video-section__left {
		width: 53%;
		display: inline-block;
	}
	h2 {
		color: #000;
		&::after, &::before {
			display: none;
		}
	}
	p {
		color: #fff;
		font-size: 16px;
		line-height: 1.5;
		margin: 15px 0;
	}
	ul {
		font-size: 0;
		width: 53%;
		li {
			display: inline-block;
			list-style-type: none;
			border-radius: 50%;
			width: 66px;
			height: 66px;
			background-color: #0098cd;
			margin: 0 10px;
			transition: $t4;
			a {
				text-decoration: none;
				width: 100%;
				height: 100%;
				display: block;
				line-height: 64px;
				border-radius: inherit;
				text-align: center;
				img {
					vertical-align: middle;
				}
			}
			&:first-child {
				margin-left: 0;
			}
			&:hover {
				background-color: #000;
			}
		}
	}
	iframe {
		width: 46%;
		float: right;
		min-height: 290px;
	}
}
.team-section {
	padding: 100px 0 60px;
	text-align: center;
	p {
		font-size: 14px;
		width: 80%;
		margin: 60px auto 60px;
	}
}
.team-section-row {
	font-size: 0;
	margin: 0 -1%;
}
.team-box {
	width: 23%;
	display: inline-block;
	margin: 0 1%;
	position: relative;
	.hover-team-box {
		display: none;
		background-color: rgba(50, 191, 163, 0.9);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 50px;
		padding: 10px 4px;
		color: #fff;
		&:hover {
			display: block;
		}
		&:hover + h5 {
			color: #0eb493;
		}
		h6 {
			font-size: 16px;
			font-weight: 600;
		}
		p {
			margin: 10px auto;
		}
		ul {
			display: inline-block;
			position: relative;
			top: 40px;
			li {
				list-style-type: none;
				display: inline-block;
				width: 42px;
				height: 42px;
				margin: 0 2px;
				background-color: rgba(13, 112, 94, 0.9);
				transition: $t4;
				a {
					text-decoration: none;
					width: 100%;
					height: 100%;
					display: block;
					line-height: 60px;
					text-align: center;
					i {
						font-size: 26px;
						color: #fff;
					}
				}
				&:hover {
					background-color: rgba(1, 100, 82, 1);
				}
			}
		}
	}
	img {
		width: 100%;
		margin-bottom: 10px;
		&:hover + .hover-team-box {
			display: block;
		}
		&:hover + h5 {
			color: #0eb493;
		}
	}
	h5 {
		font-size: 16px;
	}
	span {
		font-size: 13px;
	}
}
.customers-say-section {
	padding: 100px 0 50px;
	text-align: center;
}
.slider-window {
	width: 90%;
	margin: 40px auto;
	overflow: hidden;
	position: relative;
	ul {
		font-size: 0;
		width: 400%;
		position: relative;
		left: 0;
		transition: all ease .7s;
		li {
			float: left;
			list-style-type: none;
			width: 25%;
			.slide-frame {
				text-align: center;
				padding: 30px 0;
				img {
					border-radius: 50%;
				}
				h6 {
					text-transform: capitalize;
					font-size: 16px;
					margin: 20px 0 5px;
				}
				span {
					color: #ccc;
					font-size: 12px;
				}
				blockquote {
					line-height: 1.6;
					text-indent: 60px;
					font-size: 18px;
					text-align: justify;
					margin-top: 40px;
					padding-left: 60px;
					position: relative;
					&::before {
						content: '\201c';
						display: block;
						position: absolute;
						font-size: 120px;
						font-family: 'Times New Roman', serif;
						top: -60px;
						left: -60px;
						transform: scaleY(1.2);
						color: #efefef;
					}
				}
			}
		}
	}
}
#frames-points {
	font-size: 0;
	li {
		display: inline-block;
		background-color: #d4d3d4;
		list-style-type: none;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 7px;
		cursor: pointer;
		transition: all ease .7s;
		&:first-child {
			background-color: #1ab798;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
@import 'footer';
@import 'avS';