@charset "UTF-8";
/*base scss file*/
/* line 2, style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
}

/* line 1, _header.scss */
nav {
  padding: 22px 24px;
  /*background-color: #fff;*/
  position: fixed;
  z-index: 100;
  top: 40px;
  left: 40px;
  right: 40px;
  /*for fixed width for fixed element*/
}
/* line 9, _header.scss */
nav p {
  color: #1ab798;
  font-family: Raleway, Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
}
/* line 16, _header.scss */
nav ul {
  float: right;
  font-size: 0;
}
/* line 19, _header.scss */
nav ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 16px;
}
/* line 25, _header.scss */
nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: all ease .4s;
  text-shadow: 0 0 4px #7e7c7e;
}
/* line 31, _header.scss */
nav ul li a:hover {
  color: #1ab798;
  text-shadow: 0 0 .5px #282528;
}
/* line 36, _header.scss */
nav ul li:last-child {
  margin-right: 0;
}
/* line 41, _header.scss */
nav br {
  display: none;
}
/* line 44, _header.scss */
nav img {
  position: absolute;
  top: 40px;
  left: 37px;
}

/* line 50, _header.scss */
.head-section {
  background-image: url(../images/headerBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* line 55, _header.scss */
.head-section span {
  color: #fff;
  font-size: 22px;
}
/* line 59, _header.scss */
.head-section .side-list {
  margin: 90px 0 70px 0;
}
/* line 61, _header.scss */
.head-section .side-list li {
  /*list-style-position: inside; – to avoid adding padding-left if there would be list-style-type(:square for example) to make them inside the wrapper*/
  list-style-type: none;
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
}
/* line 67, _header.scss */
.head-section .side-list li::before {
  content: '>';
  padding-right: 8px;
  transform: scale(0.7, 1.6);
  display: inline-block;
}
/* line 75, _header.scss */
.head-section button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: #17d0ac;
  font-size: 20px;
  padding: 9px 36px 7px 20px;
  margin-bottom: 120px;
  transition: all ease 0.4s;
}
/* line 85, _header.scss */
.head-section button img {
  float: left;
  margin-right: 15px;
  width: 31px;
}
/* line 90, _header.scss */
.head-section button:hover {
  background-color: #07c09c;
}
/* line 94, _header.scss */
.head-section img#bigphone {
  position: absolute;
  bottom: -126px;
  right: 113px;
  z-index: 5;
  width: 390px;
}
/* line 101, _header.scss */
.head-section img#smallphone {
  position: absolute;
  bottom: -127px;
  right: 220px;
  z-index: 11;
  width: 355px;
}

/* line 28, style.scss */
.wrapper {
  max-width: 1040px;
  margin: 0 auto;
}
/* line 31, style.scss */
.wrapper::after {
  content: '';
  display: block;
  clear: both;
}
@media screen and (min-width: 1300px) {
  /* line 28, style.scss */
  .wrapper {
    max-width: 1240px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 28, style.scss */
  .wrapper {
    max-width: 81.2%;
  }
}
@media screen and (max-width: 768px) {
  /* line 28, style.scss */
  .wrapper {
    max-width: 90%;
  }
}
@media screen and (max-width: 400px) {
  /* line 28, style.scss */
  .wrapper {
    max-width: 94%;
  }
}

/* line 49, style.scss */
h1 {
  font-family: Raleway, Arial, sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  padding-top: 236px;
}

/* line 56, style.scss */
h2 {
  font-family: Raleway, Arial, sans-serif;
  font-size: 28px;
  color: #1ab798;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
/* line 63, style.scss */
h2::before {
  content: '';
  display: inline-block;
  width: 60px;
  border-top: 1px solid #babdc1;
  position: relative;
  bottom: 10px;
  margin-right: 15px;
}
/* line 72, style.scss */
h2::after {
  content: '';
  display: inline-block;
  width: 60px;
  border-top: 1px solid #babdc1;
  position: relative;
  bottom: 10px;
  margin-left: 15px;
}

/* line 82, style.scss */
.feature-section {
  padding: 120px 0 50px;
  text-align: center;
}
/* line 85, style.scss */
.feature-section p {
  font-size: 16px;
  width: 82%;
  margin: 60px auto;
}
/* line 90, style.scss */
.feature-section img {
  width: 32%;
  margin: 0 auto;
}

/* line 95, style.scss */
.h2_decorate {
  height: 20px;
  width: 160px;
  overflow: hidden;
  margin: 10px auto 0;
}
/* line 100, style.scss */
.h2_decorate div {
  border: 2px solid #000;
  display: inline-block;
  width: 78px;
  height: 10px;
  float: left;
  border-left: 0;
  border-top: 0;
  transform: skew(-25deg);
}
/* line 110, style.scss */
.h2_decorate div:nth-child(2) {
  margin-top: 10px;
  border: 2px solid #000;
  float: none;
  border-right: 0;
  border-bottom: 0;
}

/* line 118, style.scss */
.feature-section__left {
  float: left;
  width: 34%;
}

/* line 122, style.scss */
.feature-section__right {
  float: right;
  width: 34%;
}

/* line 126, style.scss */
.feature-box {
  margin: 60px auto;
  text-align: left;
}
/* line 129, style.scss */
.feature-box img {
  width: 36px;
  float: left;
  margin: 0 50px 55px 0;
}
/* line 134, style.scss */
.feature-box h5 {
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
/* line 140, style.scss */
.feature-box span {
  font-size: 13px;
  line-height: 1.8;
}

/* line 145, style.scss */
.video-section {
  background-color: #31d4e7;
  padding: 70px 0;
  position: relative;
}
/* line 149, style.scss */
.video-section .video-section__left {
  width: 53%;
  display: inline-block;
}
/* line 153, style.scss */
.video-section h2 {
  color: #000;
}
/* line 155, style.scss */
.video-section h2::after, .video-section h2::before {
  display: none;
}
/* line 159, style.scss */
.video-section p {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 0;
}
/* line 165, style.scss */
.video-section ul {
  font-size: 0;
  width: 53%;
}
/* line 168, style.scss */
.video-section ul li {
  display: inline-block;
  list-style-type: none;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background-color: #0098cd;
  margin: 0 10px;
  transition: all ease 0.4s;
}
/* line 177, style.scss */
.video-section ul li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 64px;
  border-radius: inherit;
  text-align: center;
}
/* line 185, style.scss */
.video-section ul li a img {
  vertical-align: middle;
}
/* line 189, style.scss */
.video-section ul li:first-child {
  margin-left: 0;
}
/* line 192, style.scss */
.video-section ul li:hover {
  background-color: #000;
}
/* line 197, style.scss */
.video-section iframe {
  width: 46%;
  float: right;
  min-height: 290px;
}

/* line 203, style.scss */
.team-section {
  padding: 100px 0 60px;
  text-align: center;
}
/* line 206, style.scss */
.team-section p {
  font-size: 14px;
  width: 80%;
  margin: 60px auto 60px;
}

/* line 212, style.scss */
.team-section-row {
  font-size: 0;
  margin: 0 -1%;
}

/* line 216, style.scss */
.team-box {
  width: 23%;
  display: inline-block;
  margin: 0 1%;
  position: relative;
}
/* line 221, style.scss */
.team-box .hover-team-box {
  display: none;
  background-color: rgba(50, 191, 163, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 50px;
  padding: 10px 4px;
  color: #fff;
}
/* line 230, style.scss */
.team-box .hover-team-box:hover {
  display: block;
}
/* line 233, style.scss */
.team-box .hover-team-box:hover + h5 {
  color: #0eb493;
}
/* line 236, style.scss */
.team-box .hover-team-box h6 {
  font-size: 16px;
  font-weight: 600;
}
/* line 240, style.scss */
.team-box .hover-team-box p {
  margin: 10px auto;
}
/* line 243, style.scss */
.team-box .hover-team-box ul {
  display: inline-block;
  position: relative;
  top: 40px;
}
/* line 247, style.scss */
.team-box .hover-team-box ul li {
  list-style-type: none;
  display: inline-block;
  width: 42px;
  height: 42px;
  margin: 0 2px;
  background-color: rgba(13, 112, 94, 0.9);
  transition: all ease 0.4s;
}
/* line 255, style.scss */
.team-box .hover-team-box ul li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 60px;
  text-align: center;
}
/* line 262, style.scss */
.team-box .hover-team-box ul li a i {
  font-size: 26px;
  color: #fff;
}
/* line 267, style.scss */
.team-box .hover-team-box ul li:hover {
  background-color: #016452;
}
/* line 273, style.scss */
.team-box img {
  width: 100%;
  margin-bottom: 10px;
}
/* line 276, style.scss */
.team-box img:hover + .hover-team-box {
  display: block;
}
/* line 279, style.scss */
.team-box img:hover + h5 {
  color: #0eb493;
}
/* line 283, style.scss */
.team-box h5 {
  font-size: 16px;
}
/* line 286, style.scss */
.team-box span {
  font-size: 13px;
}

/* line 290, style.scss */
.customers-say-section {
  padding: 100px 0 50px;
  text-align: center;
}

/* line 294, style.scss */
.slider-window {
  width: 90%;
  margin: 40px auto;
  overflow: hidden;
  position: relative;
}
/* line 299, style.scss */
.slider-window ul {
  font-size: 0;
  width: 400%;
  position: relative;
  left: 0;
  transition: all ease .7s;
}
/* line 305, style.scss */
.slider-window ul li {
  float: left;
  list-style-type: none;
  width: 25%;
}
/* line 309, style.scss */
.slider-window ul li .slide-frame {
  text-align: center;
  padding: 30px 0;
}
/* line 312, style.scss */
.slider-window ul li .slide-frame img {
  border-radius: 50%;
}
/* line 315, style.scss */
.slider-window ul li .slide-frame h6 {
  text-transform: capitalize;
  font-size: 16px;
  margin: 20px 0 5px;
}
/* line 320, style.scss */
.slider-window ul li .slide-frame span {
  color: #ccc;
  font-size: 12px;
}
/* line 324, style.scss */
.slider-window ul li .slide-frame blockquote {
  line-height: 1.6;
  text-indent: 60px;
  font-size: 18px;
  text-align: justify;
  margin-top: 40px;
  padding-left: 60px;
  position: relative;
}
/* line 332, style.scss */
.slider-window ul li .slide-frame blockquote::before {
  content: '\201c';
  display: block;
  position: absolute;
  font-size: 120px;
  font-family: 'Times New Roman', serif;
  top: -60px;
  left: -60px;
  transform: scaleY(1.2);
  color: #efefef;
}

/* line 348, style.scss */
#frames-points {
  font-size: 0;
}
/* line 350, style.scss */
#frames-points li {
  display: inline-block;
  background-color: #d4d3d4;
  list-style-type: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
  transition: all ease .7s;
}
/* line 360, style.scss */
#frames-points li:first-child {
  background-color: #1ab798;
}
/* line 363, style.scss */
#frames-points li:last-child {
  margin-right: 0;
}

/* line 1, _footer.scss */
.contacts-section {
  background-image: url(../images/footerBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 50px;
}
/* line 7, _footer.scss */
.contacts-section h2 {
  color: #fff;
}
/* line 10, _footer.scss */
.contacts-section .h2_decorate {
  margin-bottom: 40px;
}
/* line 12, _footer.scss */
.contacts-section .h2_decorate div {
  border-color: #fff;
}
/* line 16, _footer.scss */
.contacts-section hr {
  margin-top: 60px;
  opacity: .3;
}
/* line 20, _footer.scss */
.contacts-section .last-line {
  color: #949494;
  font-size: 14px;
  padding: 30px 0;
  text-align: left;
}
/* line 26, _footer.scss */
.contacts-section .last-line span:last-child {
  float: right;
}

/* line 32, _footer.scss */
.contact-data {
  width: 48%;
  height: 20px;
  display: inline-block;
  text-align: left;
  color: #fff;
  float: left;
}
/* line 39, _footer.scss */
.contact-data p {
  font-size: 24px;
}
/* line 42, _footer.scss */
.contact-data span {
  font-size: 14px;
  font-family: Raleway, Arial, sans-serif;
  color: #8d8d8d;
  display: inline-block;
  width: 85%;
  margin: 5px 0 40px;
  line-height: 1.4;
}
/* line 51, _footer.scss */
.contact-data ul {
  font-size: 0;
  margin-bottom: 30px;
}
/* line 54, _footer.scss */
.contact-data ul li {
  list-style-type: none;
  display: inline-block;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  background-color: #3ec2f3;
  margin-right: 15px;
}
/* line 62, _footer.scss */
.contact-data ul li:first-child {
  background-color: #3b5997;
}
/* line 65, _footer.scss */
.contact-data ul li:last-child {
  background-color: #e44c41;
}
/* line 68, _footer.scss */
.contact-data ul li a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  border-radius: inherit;
  display: block;
  text-align: center;
  line-height: 60px;
}
/* line 77, _footer.scss */
.contact-data ul li a i {
  font-size: 24px;
  color: #fff;
}
/* line 84, _footer.scss */
.contact-data .catch-us {
  text-decoration: none;
  color: #bface2;
  font-size: 14px;
  display: inline-block;
}

/* line 91, _footer.scss */
.contact-area {
  width: 47%;
  float: right;
  text-align: left;
}
/* line 95, _footer.scss */
.contact-area form {
  width: 100%;
}
/* line 97, _footer.scss */
.contact-area form input {
  width: 46%;
  padding: 10px;
  border: 0;
  border-radius: 2px;
  margin-bottom: 8%;
}
/* line 103, _footer.scss */
.contact-area form input:nth-child(2) {
  float: right;
  display: block;
}
/* line 108, _footer.scss */
.contact-area form textarea {
  padding: 10px;
  width: 100%;
  border: 0;
  border-radius: 2px;
  margin-bottom: 8%;
}
/* line 115, _footer.scss */
.contact-area form button {
  float: right;
  background-color: #31d4e7;
  width: 170px;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  height: 50px;
  font-size: 22px;
  border-radius: 4px;
  cursor: pointer;
}
/* line 127, _footer.scss */
.contact-area form::after {
  content: '';
  clear: both;
  display: block;
}

@media screen and (max-width: 1100px) {
  /* line 2, _avS.scss */
  nav {
    padding: 22px 10px;
    top: 30px;
    left: 30px;
    right: 30px;
  }
  /* line 8, _avS.scss */
  nav ul li {
    margin: 8px 14px;
  }

  /* line 13, _avS.scss */
  h1 {
    padding-top: 160px;
    font-size: 38px;
  }

  /* line 18, _avS.scss */
  .head-section span {
    font-size: 20px;
  }
  /* line 21, _avS.scss */
  .head-section img#bigphone {
    width: 330px;
    right: 4px;
  }
  /* line 25, _avS.scss */
  .head-section img#smallphone {
    width: 300px;
    right: 111px;
  }

  /* line 30, _avS.scss */
  .feature-section {
    padding: 120px 0 30px;
  }
  /* line 32, _avS.scss */
  .feature-section p {
    margin: 50px auto;
  }

  /* line 36, _avS.scss */
  .feature-box {
    margin: 20px auto;
  }
  /* line 38, _avS.scss */
  .feature-box img {
    margin: 0 50px 10px 0;
  }

  /* line 42, _avS.scss */
  .video-section {
    padding-bottom: 30px;
  }
  /* line 44, _avS.scss */
  .video-section .video-section__left {
    width: 100%;
    display: block;
    text-align: center;
  }
  /* line 49, _avS.scss */
  .video-section p {
    margin: 20px 0;
  }
  /* line 52, _avS.scss */
  .video-section ul {
    width: 100%;
  }
  /* line 55, _avS.scss */
  .video-section iframe {
    width: 80%;
    float: none;
    margin: 20px auto 0;
    display: block;
  }

  /* line 62, _avS.scss */
  .team-section {
    padding: 70px 0 40px;
  }

  /* line 67, _avS.scss */
  .team-box .hover-team-box h6 {
    font-size: 12px;
  }
  /* line 70, _avS.scss */
  .team-box .hover-team-box p {
    margin: 3px auto;
    font-size: 10px;
  }
  /* line 74, _avS.scss */
  .team-box .hover-team-box ul {
    position: absolute;
    top: 119px;
    right: 3px;
    left: 3px;
  }

  /* line 82, _avS.scss */
  .customers-say-section {
    padding: 70px 0 40px;
  }

  /* line 85, _avS.scss */
  .slider-window {
    margin: 20px auto;
  }
  /* line 90, _avS.scss */
  .slider-window ul li .slide-frame blockquote {
    margin-top: 30px;
  }

  /* line 97, _avS.scss */
  .contacts-section {
    padding-top: 40px;
  }
  /* line 99, _avS.scss */
  .contacts-section .h2_decorate {
    margin-bottom: 35px;
  }
  /* line 102, _avS.scss */
  .contacts-section hr {
    margin-top: 50px;
  }
  /* line 105, _avS.scss */
  .contacts-section .last-line {
    padding: 25px 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 2, _planch.scss */
  nav {
    padding: 22px 5px;
    top: 20px;
    left: 10px;
    right: 10px;
  }
  /* line 7, _planch.scss */
  nav br {
    display: block;
  }
  /* line 10, _planch.scss */
  nav p {
    float: left;
  }

  /* line 14, _planch.scss */
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  /* line 18, _planch.scss */
  .head-section {
    text-align: center;
    overflow: hidden;
  }
  /* line 21, _planch.scss */
  .head-section span {
    font-size: 16px;
  }
  /* line 24, _planch.scss */
  .head-section .side-list {
    margin: 80px 0 70px;
  }
  /* line 26, _planch.scss */
  .head-section .side-list li {
    font-size: 12px;
  }
  /* line 28, _planch.scss */
  .head-section .side-list li::before {
    content: '\2602';
    transform: scale(1, 1);
  }
  /* line 34, _planch.scss */
  .head-section img#bigphone {
    width: 250px;
    right: -150px;
  }
  /* line 38, _planch.scss */
  .head-section img#smallphone {
    width: 250px;
    left: -145px;
  }

  /* line 44, _planch.scss */
  .feature-section img:last-child {
    display: none;
  }
  /* line 47, _planch.scss */
  .feature-section .feature-section__left {
    width: 48%;
  }
  /* line 50, _planch.scss */
  .feature-section .feature-section__right {
    width: 48%;
  }

  /* line 54, _planch.scss */
  .feature-box img {
    margin: 0 30px 10px 0;
  }

  /* line 57, _planch.scss */
  .team-section {
    padding: 80px 0 40px;
  }

  /* line 60, _planch.scss */
  .team-section-row {
    margin: 0 -2%;
  }

  /* line 63, _planch.scss */
  .team-box {
    width: 46%;
  }

  /* line 66, _planch.scss */
  .customers-say-section {
    padding: 80px 0 30px;
  }

  /* line 73, _planch.scss */
  .slider-window ul li .slide-frame blockquote {
    font-size: 14px;
    padding-left: 40px;
  }

  /* line 82, _planch.scss */
  .contacts-section .last-line {
    text-align: center;
  }
  /* line 84, _planch.scss */
  .contacts-section .last-line span:last-child {
    float: none;
    display: block;
    margin-top: 10px;
  }
}
